@import "variables.scss";

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: $navbar-height calc(100vh - #{$navbar-height});
}

#main-content {
    background: url("../img/durhamcity.jpg") no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

a {
    outline: 0 !important;
}