nav, .nav-item {
    background-color: $palantine;
    z-index: 1000;
}

.navbar > .container {
    margin-left: 0;
    margin-right: 0;

    padding-left: 15px;
    padding-right: 15px;

    min-width: 100%;
}

.navbar-brand {
    font: 24px 'Poppins';
}

.nav-link {
    font: 18px 'Poppins';
    color: rgb(230, 230, 230) !important;

    text-align: center;
    margin-right: 6px !important;
}