@import url('https://fonts.googleapis.com/css?family=Poppins');
$palantine: #7E317B;
$navbar-height: 70px;

$pane-background-color: rgba(230, 230, 230, .95);

@mixin durham-button {
    background-color: $palantine !important;
    text-align: center;
    color: white;
    font-family: 'Poppins';
}