#event-list {
    background-color: rgba(230, 230, 230, .6);
    height: 100%;    
    box-shadow: 0 0 5px 10px rgba(230, 230, 230, .6);
    text-align: center; 

    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-around;
    box-sizing: border-box;
}

.event {
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 2px 3px rgb(230, 230, 230);
    margin-top: 30px;
    height: 279px;
    flex: 0 0 450px;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.event-title {
    font: bold 32px 'Poppins';
    min-width: 100%;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.event-image {
    margin-top: -30px;
    height: 200px;
}

#pop-up {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: rgb(210, 210, 210);
    border-radius: 2px;
    font-size: 90%;
}

@media (max-width: 992px) {
    #event-list {
        display: inline-block !important;
        text-align: center;
    }

    .event {
        max-width: 450px !important;
        margin-left: auto;
        margin-right: auto;
    }
}