@import "variables.scss";

#main-container {
    height: 100%;

    background-color: $pane-background-color;
    box-shadow: 0 0 5px 10px $pane-background-color;
}

.title {
    width: 100%;
    padding-top: 6px;    
    text-align: center;
    font: bold 28px 'Poppins';
    margin: 0;
}

.event-list-grop {
    display: grid;
    grid-template-rows: 50px calc(100% - 50px);
    height: 100%;
}

.event-list {
    width: 100%;
    list-style-type: none;
    padding-left: 0;

    max-height: calc(100% - 50px);
    overflow: scroll;
}

.event-node {
    margin-top: 10px;
    padding-left: 0;
    text-align: center;
    font-size: 26px;
    font-family: 'Poppins';
}

#pop-up {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: rgb(210, 210, 210);
    border-radius: 2px;
    font-size: 90%;
}

@media (max-width: 768px) {
    .event-list-group {
        height: 50%;
    }
}