@import "variables.scss";

#form-container {
    background-color: rgba(230, 230, 230, .45);
    height: 100%;    
    display: grid;

    grid-template-rows: 72px auto;
}

form {
    background-color: rgba(240, 240, 240, .9);
}

#title {
    width: 100%;
    background-color: rgba(240, 240, 240, .9);
    font: bold 50px 'Poppins';
    text-align: center;
    margin: 0;
    padding-top: 5px;   
    max-height: 72px;   
}

#new-event-form {
    overflow-y: scroll !important;
}

.form-group {
    width: calc(100% - 16px);
}

.form-label {
    font: 1.4rem 'Poppins';
}

.form-control {
    font: 1.35rem 'Poppins';
    width: 100%;
    resize: none;
}

#picture-upload-group {
    flex-wrap: wrap;
    justify-content: center;
}

#picture-label {
    width: 100%;
    text-align: center;
}

#event-create-button {
    font-size: 32px;
    width: 250px;
}

.has-image {
    height: 300px;
}

@media (min-width: 975px) {
    #form-container {
        max-width: 900px;
    }
}

@media (max-width: 550px) {
    .has-image {
        height: 200px;
    }
}