@import "variables.scss";

#event-container {
    height: 100%;    
    flex-wrap: wrap;
    background-color: $pane-background-color;
    box-shadow: 0 0 5px 10px $pane-background-color;

    text-align: center; 
    overflow: scroll;
}

#people-list {
    max-height: 300px;
    overflow: scroll;
    list-style: none;
}

#people-list > p {
    margin-bottom: 0px;
}

#comment-list {
    margin-left: 5px;
    margin-right: 5px;

    max-height: 300px;
    overflow: scroll;
}

.comment-group {
    border: 1px solid black;
    margin-bottom: 4px;
}

.comment {
    margin-bottom: 4px;   
}

#comment-input {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
    width: 70%;
    resize: none;

    height: 40px;
    font: 20px 'Poppins';
}

#submit-button {
    @include durham-button;
    width: 30;
}

.commenter {
    font: bold 16px 'Poppins';
    text-align: right;
    padding-right: 10px;
    margin-bottom: 0px;
}

#comment-list > p {
    margin-bottom: 0px;
}

p, h2, label {
    font-family: 'Poppins';
}    

p, label {
    font-size: 20px;
}

#event-title {
    font: bold 50px 'Poppins';
    width: 100%;
    height: 72px;
}    

#event-logo {
    height: 300px;
}    

#event-description {
    font-size: 20px;
}    

@media ( max-width: 768px ) {
    #event-logo {
        height: 200px;
    }
}